body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: sticky;
}

header h1 {
  margin: 0;
}

nav ul {
  padding: 0;
  list-style: none;
  background: #444;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Project Cards */
.project-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s, transform 0.4s, color 0.4s;
  cursor: pointer;
}

.project-card:hover {
  background-color: turquoise;
  color: white;
  transform: scale(1.05);
}

.project-card:hover a {
  color: white;
}

/* Services List */
.services-list {
  list-style-type: square;
  padding-left: 20px;
}

.services-list li {
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.4s, transform 0.4s, color 0.4s;
  cursor: pointer;
}

.services-list li:hover {
  background-color: #f8d7da;
  color: black;
  transform: scale(1.05);
}

/* Skills List */
.skills-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.skills-container li {
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.4s, transform 0.4s, color 0.4s;
  cursor: pointer;
}

.skills-container li:hover {
  background-color: #fff9c4;
  color: black;
  transform: scale(1.05);
}

/* Contact Items */
.contact-item {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.4s, transform 0.4s, color 0.4s;
  cursor: pointer;
}

.contact-item:hover {
  background-color: #e3f2fd;
  color: black;
  transform: scale(1.05);
}

.contact-item a:hover {
  color: black;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: sticky;
  width: 100%;
  bottom: 0;
}
