.product-box {
  border: 1px solid #333;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  width: 150px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border-radius: 8px;
  vertical-align: top;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header ul {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

header ul li:hover {
  text-decoration: underline;
  color: blue;
}
